@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-mainbg: #0F1729;
  --color-card: #3A425B;
  --color-button: #8591F3;
  --color-border: #485270;
}

@theme {
  --font-Albert: "Albert Sans", sans-serif;
}